.header {
  border: 3px solid black;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 1%;
  font-family: Lucida Console;
}

.nameblock{
  width: 30%;
}

.answer {
  border: 3px solid black;
  text-align: center;
  margin-bottom: 30px;
  display:none;
}

.btn {
  display: block;
  margin: 10px;
  margin-left: 50%;
  background-color: teal;
  color: white
}

.link {
  font-size: 25px;
}

#ruby {
  display: none;
  background-color: navy;
  color: white;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 35px;

}

#cSharp{
  display: none;
  background-color: lime;
  color: white;
  font-size: 30px;
  font-weight: bolder;
}

#javaScript{
  display: none;
  background-color: black;
  color: yellow;
  font-size: 30px;
  font-weight: bolder;
}

a:link {
  color:white;
}

a:visited{
  color:blueviolet;
}

a:hover{
  color: grey
}

body {
  background-color: lightgrey;
}